<div class="login">
    <div class="login__title" ng-bind="appName">MySS</div>
    <form class="login__box">
        <div class="login__box_field input-field">
            <input id="username" name="username" type="text" ng-model="user.login" required>
            <label for="username">Логин или E-mail</label>
        </div>
        <div class="login__box_field input-field">
            <input id="password" name="password" type="{{type}}" ng-model="user.password" required>
            <label for="password">Пароль</label>
            <div class="show_password" ng-click="newType()"><i class="fa {{icon}}"></i></div>
        </div>
        <div class="login__box_field-btn">
            <button type='submit' class="btn" data-page="login" data-type='' ng-click="login($event)">Войти</button>
            <a href="https://myshows.me/" class="reg" target="_blank">Регистрация</a>
<!--
            <div class="login__box_field-btn_or">- или -</div>
            <a class="btn btn-vk"><i class="fa fa-vk"></i></a>
            <a class="btn btn-fb"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-tw"><i class="fa fa-twitter"></i></a>
-->
        </div>
    </form>
</div>